<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="assets/stylesheets/index.css">
</head>

<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
  <td id="content">
    <h2>Please enter your email and password to sign in.</h2>
    <fieldset id="loginfield">
    <form action="/profile" method="post">
      <label for="loginemail" class="loginlabel">Email:</label>
      <input type="text" name="loginemail" value=""><br><br>
      <label for="loginpassword" class="loginlabel">Password:</label>
      <input type="text" name="loginpassword" value=""><br><br>
      <input type="submit" name="submit" value="Sign In">
    </form>
    </fieldset>

    <p>Don't have an account? Sign up <a href="/signup">here</a>.</p>
  </td>
  <% include partials/footer.ejs %>
</body>

</html>
